<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/about.css">
</head>
<body>
  <% include blocks/allMainBorder.ejs %>
<div class = 'AllItems'>

      <div class = 'centerMain'>
        <div class = 'mainMenyPark'>
        Кафе <br>
        "Парк Авеню"<br>

      </div>
      <div class = 'mainScroll'>
        <div class = mainMenuAtmosphere>

      <!--          <div class = 'mainMenuAtmosphereText'>  Это удивительное место, в котором вы можете провести время в дружной обстановке.</div>
      -->
              <div class = img1>
                Это удивительное место, в котором вы можете провести время в дружной обстановке.
              </div>
              <div class = img2>
                Это удивительное место, в котором вы можете провести время в дружной обстановке.
              </div>
              <div class = img3>
                Это удивительное место, в котором вы можете провести время в дружной обстановке.
              </div>
              <div class = img4>
                Это удивительное место, в котором вы можете провести время в дружной обстановке.
              </div>



        </div>
        <div class = mainMenuBluda>
         Гостепреимная атмосфера, по домашнему вкусные и недорогие блюда, приготовленные мастерами своего дела.<br>
        </div>
        <div class = mainMenuUslugam>
          К вашим услугам банкетное обслуживание, проведение вечеринок, презентаций, свадеб, фуршетов.<br>
          В нашем кафе вы можете потанцевать, послушать живую музыку(по желанию заказчика).
        </div>
      </div>
  </div>
</div>
</body>
</html>
