<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/galery.css">

</head>
<body>
  <% include blocks/allMainBorder.ejs %>

<div class = 'AllItems'>
  <div class = 'centerMainHeader' id ='centerMainHeader'>
  </div>

  <div class = 'centerMain' id = 'centerMain'>

    <div class = 'menuItemWith'>
        <div class = 'menuItemWithPhoto'>
        </div>
        <div class = 'menuItemWithDiscription'>
          <div class = 'menuItemWithText'>
          dfg
          </div>  <div class = 'menuItemWithText'>
        </div>
    </div>
  </div>
    <% include blocks/allHeader.ejs %>
</div>

</body>
</html>
