<!doctype html>
<html>
<title>Галерея кафе "Парк Авеню"</title>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<meta name="robots" content="index, follow" />
<meta name="yandex" content="index, follow" />
<meta name="author" content="Александр Гурский" />
<!-- Yandex.Metrika counter -->

</head>
<body>
    <% include blocks/preloader.ejs %>
  <div class='black'>
  </div>
  <div class = 'workSpace'>
      <div class = 'AllItems' id ='AllItems'>
        <div id="gallery" class="photo-grid">
      </div>
      </div>
      <div class='extraItems'>

      </div>
          <% include blocks/allMainBorder.ejs %>
  </div>
  <script src="../public/js/galery.js " ></script>
<link rel="stylesheet" type="text/css" href="../public/css/galery.css">
  <% include blocks/indexAdaptive.ejs %>
</body>
</html>
