<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/index.css">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
</head>
<body>
  <div class='black'>

  </div>
<div class = 'workSpace'>
    <div class = 'AllItems'>
        <div class='hi'>
         ДОБРО ПОЖАЛОВАТЬ
       </div>
             <div class='imageFull'>
                 <div class='image'>
                 </div>
            </div>
       <div class='goHi'>
          Приходите<br> <span>будем рады видеть вас в кафе "Парк Авеню"</span>
       </div>
    </div>

    <div class='extraItems'>
      <div class='extra ' >
        <div class = 'extraName'>
          МЕНЮ
        </div>
        <div class = 'extraPhoto extraIndex0'>
        </div>
        <div class = 'extraDisc'>
          тут что нибудь про афигенное меню
        </div>
      </div>

      <div class='extra ' >
        <div class = 'extraName'>
        УСЛУГИ
        </div>
        <div class = 'extraPhoto extraIndex1'>
        </div>
        <div class = 'extraDisc'>
          тут что нибудь про услуги
        </div>
      </div>
      <div class='extra ' >
        <div class = 'extraName'>
         ЧТО-ТО ЕЩЁ
        </div>
        <div class = 'extraPhoto'>
        </div>
        <div class = 'extraDisc'>
          тут что нибудь про афигенное меню
        </div>
      </div>
      <div class = 'serviceBlock'>
          <% include blocks/indexService.ejs %>
      </div>


    </div>
        <% include blocks/allMainBorder.ejs %>
</div>
</body>
</html>
