<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/index.css">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
</head>
<body>
  <% include blocks/allMainBorder.ejs %>
<div class = 'AllItems'>

  <div class = 'index menuOnMain'>
            <div class = 'elka'>

              <span>
                Приближается самый любимый всеми праздник- Новый год. И один из способов разнообразить скучную офисную жизнь и сплотить коллектив- это провести корпоратив весело, криативно и интересно - это у нас. Приглашаем Вас!
              </span>
            </div>
  </div>
  <div class = 'index slideShow'>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
  </div>
    <div class = 'serviceBlock'>
      <% include blocks/indexService.ejs %>
    </div>

    <div class = 'index slideShowParty'>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
    </div>

  <% include blocks/allFooter.ejs %>

</div>
</body>
</html>
