<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/index.css">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
</head>
<body>
  <% include blocks/allMainBorder.ejs %>
<div class = 'AllItems'>

  <div class = 'index menuOnMain'>
            <div class = 'elka'>

              <span>
                Я НЕ ЗНАЮ ЧТО ТУТ ПИСАТЬ!
              </span>
            </div>
  </div>

  <div class = 'index slideShow'>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
    <div class = 'img'>
    </div>
  </div>
    <hr>
    <div class = 'serviceBlock'>
      <% include blocks/indexService.ejs %>
    </div>
  <hr>
    <div class = 'index slideShowParty'>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
      <div class = 'img'>
      </div>
    </div>



</div>
  <% include blocks/allFooter.ejs %>
</body>
</html>
