<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/inedexService.css">
<link rel="stylesheet" type="text/css" href="../public/css/service.css">
</head>
  <body>
  <% include blocks/allMainBorder.ejs %>
  <div class = 'AllItems'>
    <div class = 'centerMain' id = 'centerMain'>

Хотите уютно и весело отдохнуть? Сытно и вкусно поужинать или пообедать? Вы можете позвонить нам, и заказать столик, а мы будем рады вам создать атмосферу уюта,тепла. Приходите, будем рады видеть вас.
      <br>
                  Свадьбы

        Кафе «Парк Авеню» предлагает просторный зал для проведения свадьбы с изысканным украшением зала.
        В наличии имеются скатерти, чехлы на стулья, банты, стол дарения.
        Размеры и планировка нашего зала позволяют проводить свадьбу с общим количеством приглашенных гостей до 60 человек с сохранением зоны для танцпола.
        Мы можем предложить самое разнообразное меню - на любой вкус и бюджет. На свадьбы мы предлагаем банкетное меню,
        где есть широкий выбор холодных закусок, салатов и горячих блюд. Мы можем помочь в подборе ведущих, музыкантов,
        дополнительных шоу-программ. Администратор даёт полную консультацию по проведению подобных праздников, рассказывает,
        как проходило у других, даёт советы по необходимому объему продуктов, расставлению столов. Администратор контролирует
        подачу блюд и время, даёт полную информацию обо всех возможных нюансах, которые могут возникнуть на территории кафе.
        Квалифицированный персонал кафе «Парк Авеню» уделит должное внимание каждому гостю и сделает всё, чтобы ваша свадьба прошла
        интересно, весело и вкусно.
    <br>
                  Корпоративы
        В нашей жизни всегда должно быть
        достаточно места для праздника. Лучшим способом отметить праздник является проведение совместного банкета с
        коллегами по работе.
        При проведении корпоративов надо учитывать, чтобы зал был
        достаточно просторным для комфортного размещения гостей, а его
        интерьер располагал к праздничному настроению. В заведении, где вы проводите банкет,
         должна быть вкусная еда и отличный сервис. При этом, конечно же, важна недорогая цена –
         лучше всего, если все перечисленные преимущества сочетаются с невысокими ценами в меню и
         возможностью принести алкоголь и напитки с собой. В кафе «Парк Авеню» вы сможете организовать
         корпоратив и провести банкет в Барановичах недорого.

Для корпоративов действует банкетное меню по предварительному записи. Ассортимент блюд широкий, обстановка непринуждённая.

<img src='/public/image/reserved.jpg'>
<div class = 'serviceBlock'>
  <% include blocks/indexService.ejs %>
</div>

    </div>
      <% include blocks/allFooter.ejs %>

  </div>




  </body>
</html>
