<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/service.css">
</head>
  <body>
  <% include blocks/allMainBorder.ejs %>
  <div class = 'AllItems'>
    <div class = 'centerMain' id = 'centerMain'>

        <div class = service>
              <div class = 'event svadba'>
                <div class = 'eventName '>
                  Свадьбы
                </div>
                <div class = 'eventText'>
        Кафе «Парк Авеню» предлагает просторный зал для проведения свадьбы с изысканным украшением зала.
        В наличии имеются скатерти, чехлы на стулья, банты, стол дарения.
        Размеры и планировка нашего зала позволяют проводить свадьбу с общим количеством приглашенных гостей до 60  человек.
                </div>
              </div>
        </div>

        <div class = service>
              <div class = 'event korporativ'>
                <div class = 'eventName '>
                  Корпоративы
                </div>
                <div class = 'eventText'>
        В нашей жизни всегда должно быть
        достаточно места для праздника. Лучшим способом отметить праздник является проведение совместного банкета с
        коллегами по работе.
                </div>
              </div>
        </div>

<div class = service>
      <div class = 'event deti'>
        <div class = 'eventName '>
          Детский Праздник
        </div>
        <div class = 'eventText'>
              что-то про праздник для детей
            <BR>САША!!!!!  <BR>НЕ ЗАБУДЬ НАПИСАТЬ
        </div>
      </div>
</div>

    </div>
      <% include blocks/allHeader.ejs %>
  </div>




  </body>
</html>
