<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../public/css/service.css">
</head>
  <body>
  <% include blocks/allMainBorder.ejs %>
  <div class = 'allCenter'>
      <div class = 'centerLeft'>
      </div>

  <div class = 'centerMain' id = 'centerMain'>
      <div class = 'centerMainHeader' id ='centerMainHeader'>
        <br>  Хотите уютно и весело отдохнуть? Сытно и вкусно поужинать или пообедать? Вы можете позвонить нам, и заказать столик, а мы будем рады вам создать атмосферу уюта,тепла. Наш телефон: 80163411154. Приходите, будем рады видеть вас.
        <br>
        Самое вкусное, сытное, и красивое, только у нас! Будем рады видеть Вас
        <br>
        Кафе «Парк Авеню» находится в самом сердце нашего чудесного города – в молодом парке, на пересечении улиц Гагарина и Штоккерау. Это удивительное место, в котором вы можете провести любое торжество, будь то юбилей, корпоратив или свадьба.
Уютный зал на 60 мест дополняет летняя терраса, для которой используется световое оформление в ночное время суток. Разноцветные гирлянды, свечи, напольные лампы на террасе и освещение самого парка создают атмосферу романтичности и таинственности. Кроме того, парк, где находится кафе, это идеальное место для фотосессии.
Праздничное меню - это изысканные и красиво оформленные блюда европейской и белорусской кухни, которые согласовывают в обязательном порядке, учитывая все пожелания заказчика.
К вашим услугам банкетное обслуживание, проведение свадеб, вечеринок, презентаций, фуршетов.
Выездная регистрация свадьбы, музыкальное сопровождение на свой вкус, парковка и другие удобства к услугам гостей от кафе «Парк Авеню».
        <br>
        Что представляет собой «Парк Авеню»?
Классическое кафе с летней террасой. Исходя из меню (белорусское, европейское), это универсальное заведение, в которое с одинаковым успехом могут приходить компании и семейные пары с детьми. Приятным бонусом можно назвать полноценное вегетарианское меню.
      </div>

  </div>
  <div class = 'centerRight'>

  </div>
</body>
  </body>
</html>
