<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../public/image/logo.png" type="image/x-icon">
</head>

<body>
    <% include blocks/preloader.ejs %>
    <% include blocks/indexAdaptive.ejs %>
  <div class='black'>
  </div>

    <% include blocks/registerForm.ejs %>
        <div class = 'workSpace'>
            <div class = 'AllItems'>
                  <div class='editCookies'>
                    Номер телефона
                    <input type='text' id='nomer'><br>
                    Пароль
                    <input type='text' id='parol'><br>
                    ФИО
                    <input type='text' id='FIO'><br>
                    Адрес
                    <input type='text' id='adres'><br>
                    <div class='knopochka' id='knopochka'>
                    Обновить информацию
                    </div>

                  </div>
            </div>
      <div class='extraItems'>
        <div class='clearCookies'>
        <a href='/'>  Выйти из аккаунта</a>
        </div>
        <div class='cookie admin'>
        <a href='/admin'>  Управление заказами</a>
        </div>
        <div class='cookie admin'>
          <a href='/administrator'>   Редактирование галереи</a>
        </div>
        <div class='cookie Zakaz'>
           Просмотр заказов
        </div>
      </div>
        <% include blocks/allMainBorder.ejs %>
        </div>
          <script src="../public/js/user.js"></script>
          <script src="../public/js/userAutorization.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/user.css">
    <link rel="stylesheet" type="text/css" href="../public/css/userMainForm.css">
</body>

</html>
