.allFooter{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  margin: 10px 40px 10px 40px;
  width: 100%;
  height: 100%;
  background-image: url('../image/header1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 0px;
  border-radius: 0px 0px 20px 20px;
}
.footerText, .footerLogo, .footerContact{
  position: relative;
  width: 100%;
  height: 100%;
  color:white;
  border-radius: 0px 0px 20px 20px;
  /border: 1px solid red;
  display: flex;
  justify-content: center;
}
.footerLogo{
    background-image: url('../image/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50%;
    align-self: center;
    opacity: 0.2;
}
.footerBack{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  opacity: 0.8;
  margin-bottom: 0px;
  border-radius: 0px 0px 20px 20px;
  align-self: center;
}
.footerText{
  justify-content: center;
  align-items: center;
}
.footerContact{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footerContactFoto{
  display: flex;
  width: 100%;
  height: 25%;
}
.footerContactMapText{
  width: 100%;
  vertical-align: middle;
  align-self: center;
}
.footerContactMap, .footerContactEmail, .footerContactTel{
  height: 90%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footerContactMap{
    background-image: url('../image/newContMap.png');
}
.footerContactTel{
    background-image: url('../image/newContPhone.png');
}
.footerContactEmail{
    background-image: url('../image/newContMail.png');
}
ymaps{
  border-radius: 10px;
  color:black;
}
