@font-face {
 font-family: elzevir; /* Гарнитура шрифта */
 src: url("../fonts/elzevir.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: classic; /* Гарнитура шрифта */
 src: url("../fonts/grafiti.otf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: tolstyak; /* Гарнитура шрифта */
 src: url("../fonts/tolstyak.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: antiqua; /* Гарнитура шрифта */
 src: url("../fonts/grafiti.otf"); /* Путь к файлу со шрифтом */
}
.black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 15px;
border-radius: 15px;
background-color:grey;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}
.telNumber{
  font-family: antiqua;
  font-size: 30px;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed  #333;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#8B4513;
}
body{
  background-color: white;
  font-family: antiqua;
}
.adress{
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.adressText{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.headerLogo{
  width: 100%;
  height: 12vw;
  background-image: url("../image/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.7s linear;
  cursor: pointer;
}
.headerLogo:hover{
  transform: scale(1.11, 1.11);
}
.headerMenu{
  width: 24vw;
}
.workSpace{
  margin-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: calc(100% - 60px);
}

.AllItems{
  width: 50%;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
}
.extraItems{
  width: 25%;
  border-left: 1px dashed grey;
  border-right: 1px dashed  grey;
  overflow: auto;

  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  scroll-behavior: smooth;
  height: 100%;
}
.header{
  width: 25%;
  scroll-behavior: smooth;
  overflow: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.alex{
  width: 100%;
  text-align: center;
  font-size: 11px;
  color:grey;
}
