@font-face {
 font-family: elzevir; /* Гарнитура шрифта */
 src: url("../fonts/elzevir.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: classic; /* Гарнитура шрифта */
 src: url("../fonts/grafiti.otf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: tolstyak; /* Гарнитура шрифта */
 src: url("../fonts/tolstyak.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
 font-family: antiqua; /* Гарнитура шрифта */
 src: url("../fonts/Antiqua.ttf"); /* Путь к файлу со шрифтом */
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 15px;
border-radius: 15px;
background-color:grey;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}
body{
  background-color: black;
}
.headerLogo{
  width: 12vw;
  height: 12vw;
  background-image: url("../image/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid red;
}
.headerMenu{
  width: 24vw;
  border: 2px solid blue;
}
.workSpace{
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #FFFAFA;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: calc(100% - 20px);
}

.AllItems{
  width: 50%;
/  border: 2px solid gold;
    overflow: auto;
  scroll-behavior: smooth;
}
.extraItems{
  width: 25%;
/  border: 2px solid red;
  overflow: auto;
}
.header{
  width: 25%;
/  border: 2px solid blue;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
