.allService{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
.nashiUslugi{
    text-align: center;
    font-size: 50px;
    font-family: 'elzevir';
    font-weight: 900;
}

      .service{
        margin: 10px;
        width: 23vw;
        height: 23vw;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.8s ease;

      }

.service:hover{
opacity: 0.8;
background-color: #E0FFFF;
}
      .event{
        align-self: center;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      .eventText{
        text-align: justify;
        padding:  10px;
        color:black;
        font-family: classic;
          text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
      }
      .eventName{
          color:black;
          font-family: tolstyak;
          font-size: 150%;
      }
      .svadba{
        background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../image/svadba.jpg");
        background-size: 100% 100%;
      }
      .korporativ{
        background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../image/koroparativ.jpg");
        background-size: 100% 100%;
      }
      .deti{
        background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../image/deti.jpg");
        background-size: 100% 100%;
      }
      .birthday{
            background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../image/birthday.jpg");
            background-size: 100% 100%;
          }

.service a{
text-decoration: none;
width: 100%;
height: 100%;
    display: flex;
    justify-content: center;

}
.serviceBlock{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
/  border:1px solid black;
}
.nashiUslugi{
  color:black;
  text-shadow: 0 0 5px #fff;
  margin-top: 10px;
  text-shadow: 3px #E0FFFF;
}
