.allService{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
.nashiUslugi{
    text-align: center;
    font-size: 50px;
    font-family: 'elzevir';
    font-weight: 900;
}
.serviceArray{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
}

@media screen and (max-width: 1060px) {
  .serviceArray{
justify-content: flex-start;
  }
}
      .service{
        margin:  10px;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
          transition: all 0.8s ease;
      }
.service:hover{
background-color: gold;
}
      .event{
        width: 280px;
        height: 280px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      .eventText{
        text-align: justify;
        padding:  10px;
        color:black;
        font-family: classic;
          text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
      }
      .eventName{
          color:black;
          font-family: tolstyak;
          font-size: 150%;
      }
      .svadba{
        background-image:linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url("../image/svadba.jpg");
        background-size: 100% 100%;
      }
      .korporativ{
        background-image:linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url("../image/koroparativ.jpg");
        background-size: 100% 100%;
      }
      .deti{
        background-image:linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url("../image/deti.jpg");
        background-size: 100% 100%;
      }
      .birthday{
            background-image:linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url("../image/birthday.jpg");
            background-size: 100% 100%;
          }

a{
text-decoration: none;
}
.serviceBlock{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
/  border:1px solid black;
}
.nashiUslugi{
  color:#f2f291;
  text-shadow: 0 0 5px #fff;
  margin-top: 10px;
}
