
.AllItems{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 60%;
  /border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.centerMain{
/  border:3px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.extraItems{
  width: 15%;
}


.centerMainHeader{
//background-color: black;
  border-radius: 30px;
//  border: 4px dotted #f5f5dc;
/  border-style: double;
  height: 99%;
  display: flex;
  justify-content: space-around;
  overflow: auto;
  width: 99%;
  align-items: center;
  flex-wrap: wrap;
}
.centerMainHeader::-webkit-scrollbar{
  width: 0px;
}
#enterKind{
  text-align: center;
  width: 100%;
  margin: 10px;
  color:black;
  font-size: 30px;
  font-family: antiqua;
}

.headerItemMenu{
height: 100px;
width: 100px;
margin-left:  5px;
border-radius: 50%;
position: relative;
border: 1px dotted black;
cursor: pointer;
margin-bottom: 10px;
}

.headerItemMenuImage{
  height: 100px;
  width:  100px;
  border-radius: 50%;
}

.headerItemMenuDiscription{
  color:white;
  opacity: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top:calc(50% - 1em);
  font-size: 20px;
  text-align: center;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.headerItemMenu:hover .headerItemMenuImage{
  opacity: 0.4;
}
.headerItemMenu:hover .headerItemMenuDiscription{
  opacity: 1;
}
.headerItemMenu:hover{
    background-color: black;
}
@media screen and (orientation:portrait) {
.header{
  display: none;
}
.extraItems{
  width: 190px;
  margin: 0;
}
.headerItemMenu{
height: 67px;
width: 67px;
}
.headerItemMenuImage{
  height: 67px;
  width:  67px;
}
.headerItemMenuDiscription{
  font-size: 0.9em;
}
.AllItems{
  width: 900px;
}
.headerItemMenuDiscription{
  opacity: 1;
}
.headerItemMenuImage{
  opacity: 0.4;
}
.headerItemMenu{
    background-color: black;
}
}
