.centerMain{
  text-align: center;
  color:#f5f5dc;
  border-left:  5px dashed #f2f291;
  border-right:  5px dashed #f2f291;
  overflow: auto;
  margin: 0px;
  width: 100%;
}
.service{
  margin:  10px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.service:hover{
background-color: white;
}
.serviceBlock{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
/  border:1px solid black;
}
.event{
  width: 380px;
  height: 380px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.eventText{
  text-align: justify;
  padding:  10px;
  color:black;
}
.eventName{
    color:black;
}
.nashiUslugi{
  display: none;
}
