.bmenu{
    padding: 0px;
    position: relative;
    color:black;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
.bmenu li a{
	white-space: nowrap;
	color: black;
	display: block;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 6px #fff;
	letter-spacing: 1px;
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	transition: all 0.6s linear;
text-decoration: none;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 15px #fff;
    color:#8B4513;
}
.bmenu li a:hover{
	text-shadow: 0px 0px 1px #fff;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
  color:black;
}
