.cookie{
  padding: 10px;
  border:1px solid red;
  text-align: center;
  cursor: pointer;
}
a{
  color:black;
  width:100%;
  font-size: 1em;
}
ul li  a{
  color:white;
}
  .editCookies{
    display: none;
  }
  .adminOrder{
    display: none;
  }
  button {
    border: 0;
    background: linear-gradient(
      to bottom,
      #444,
      #111
    );
    border-radius: 10px;

    outline: 0;
    display: inline-block;
    width:100%;

    transform:  translateY(20px);
  }
  button:hover, button:active {
    background: black;
  }
  button svg {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  button span {
    font-size: 22px;
    position: relative;
    top: 4px;
    color: white;
  }

  @media screen and (orientation:portrait) {

    a{font-size: 3.5vw}
    p {font-size: 3vw;
    }
    .AllItems{
    width: 99%;
    }
      .workSpace{
        flex-direction: column-reverse;
      }
    .extraItems{
      width: 99%;
      height:150px;
      margin: 0;
    }
  }
  @media only screen and (max-width: 720px) {

    a{font-size: 3.5vw}
    p {font-size: 3vw;
    }
    .AllItems{
    width: 99%;
    }
      .workSpace{
        flex-direction: column-reverse;
      }
    .extraItems{
      width: 99%;
      height:150px;
      margin: 0;
    }

  }
