  <body>
    <div class = 'index footer'>
      <div class = 'footerText'>
        ЗДЕСЬ БУДЕТ ФУТЕР<br>
        ИНФОРМАЦИЯ О КАФЕ<br>
        ПО ЦЕНТРУ БУДЕТ ЛОГО<br>
        СПРАВА БУДУТ ТЕЛЕФОНЫ<br>
        и ещё какая-нибудь фигня<br>
      </div>
    </div>
</body>
