
<title>Парк "Авеню"</title>

<link rel="stylesheet" type="text/css" href="../public/css/allMainBorder.css">
<div class = 'allHeader'>
  <div class = leftHeader>
  <a href='/'>
  </a>
  </div>
      <div class=header>
        <div class = 'headerMenu'>
        <ul>
            <li>
            <a href="/menu">Меню</a>
            </li>

            <li>
            <a href="/service">Услуги</a>
            </li>
            <li>
              <a href="/galery">Галерея</a>
            </li>
            <li>
              <a href="/about">О нас</a>
            </li>
        </ul>
        </div>
        <div class = 'headerContacts'>
          г. Барановичи, Парк имени 30-летия ВЛКСМ
          <br><br>+375 (163) 41 11 54
          <br>+375 (163) 41 09 78
          </div>
      </div>
      <div class = 'rightHeader' id='rightHeader'>
      </div>
</div>
