    <div class = 'allService'>
  <div class = 'nashiUslugi'>
    Наши услуги
    </div>
    <div class = 'serviceArray'>

    <div class = service>
      <a href ='/service'>
          <div class = 'event svadba'>
            <div class = 'eventName '>
              Свадьбы
            </div>
            <div class = 'eventText'>
    Кафе «Парк Авеню» предлагает просторный зал для проведения свадьбы с изысканным украшением зала.
    В наличии имеются скатерти, чехлы на стулья, банты, стол дарения.
    Размеры и планировка нашего зала позволяют проводить свадьбу с общим количеством приглашенных гостей до 60  человек.
            </div>
          </div>
          </a>
    </div>

    <div class = service>
<a href ='/service'>
          <div class = 'event korporativ'>
            <div class = 'eventName '>
              Корпоративы
            </div>
            <div class = 'eventText'>
    В нашей жизни всегда должно быть
    достаточно места для праздника. Лучшим способом отметить праздник является проведение совместного банкета с
    коллегами по работе.
            </div>
          </div>
</a>
    </div>

    <div class = service>
      <a href ='/service'>
        <div class = 'event deti'>
            <div class = 'eventName '>
              Детский Праздник
            </div>
            <div class = 'eventText'>
                  что-то про праздник для детей
                <BR>САША!!!!!  <BR>НЕ ЗАБУДЬ НАПИСАТЬ
            </div>
        </div>
        </a>
    </div>

</div>
  </div>
