
 <link rel="stylesheet" href="../public/css/adaptive/indexAdaptive.css">
<div id="nav-trigger" class="nav-trigger open">
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
</div>
<nav id="nav" class="out">
<ul>
  <li><span class="nav-label">ГЛАВНАЯ</span></li>
  <li><span class="nav-label">МЕНЮ</span></li>
  <li><span class="nav-label">УСЛУГИ</span></li>
  <li><span class="nav-label">ГАЛЕРЕЯ</span></li>
  <li><span class="nav-label">О НАС</span></li>
</ul>
</nav>


  <script  src="../public/js/IndexAdaptive.js"></script>
