
 <link rel="stylesheet" href="../public/css/adaptive/indexAdaptive.css">
<div id="nav-trigger" class="nav-trigger open">
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
</div>
<nav id="nav" class="out">
<ul>
  <li><span class="nav-label"><a href="/">ГЛАВНАЯ</a></span></li>
  <li><span class="nav-label"><a href="/menu">МЕНЮ</a></span></li>
  <li><span class="nav-label"><a href="/service">УСЛУГИ</a></span></li>
  <li><span class="nav-label"><a href="/galery">ГАЛЕРЕЯ</a></span></li>
  <li><span class="nav-label"><a href="/about">О НАС</a></span></li>
</ul>
</nav>


  <script  src="../public/js/IndexAdaptive.js"></script>
